{{ set (pageTitle = '模板编辑') }}

{{ extend ('../../_layouts/normal') }}

{{#block ('style') }}
	{{{ importCSS('/style/edit/edit.css') }}}
{{/block}}

{{#block ('main') }}
	<div class="resume-eidt-section">
		<v-topbar></v-topbar>		
		<v-body></v-body>
		<v-review></v-review>
	</div>

{{/block}}
	
{{#block('beforebodyEnd')}}
{{ include('./_partials/edit_topbar.html') }}
{{ include('./_partials/edit_body.html') }}
{{ include('./_partials/edit_review.html') }}
<script>require('/page/edit/')</script>
{{/block}}