{{%
<script type="x-template" id="tpl-logReg">
	<section class="section-logReg">
		<div class="section-logReg__module section-login" v-if="isLoginModule">
			<h3 class="section-logReg__module__title">登录</h3>
			<div class="section-logReg__module__form-control">
				<input v-model="loginData.email" type="text" placeholder="邮箱地址">
				<span v-show="isLogEmail" class="error-info">请输入正确的邮箱</span>
			</div>
			<div class="section-logReg__module__form-control">
				<input v-model="loginData.pw" type="password" placeholder="密码">
			</div>
			<div class="section-logReg__module__link clearfix">
				<a class="pull-left common-text__green" href="#">忘记密码?</a>
				<a v-on:click="changeModule(false)" class="pull-right common-text__green" href="#">注册resume</a>
			</div>
			<div class="section-logReg__module__form-control">
				<a  @click="login()" :class="{ disable: disableLog }" class="section-logReg__module__submit-btn" href="#">登录</a>
			</div>
		</div>
		<div class="section-logReg__module section-register" v-else="isLoginModule">
			<h3 class="section-logReg__module__title">注册</h3>
			<div class="section-logReg__module__form-control">
				<input v-model="registerData.email" type="text" placeholder="邮箱地址">
				<span v-show="isReEmail" class="error-info">请输入正确的邮箱</span>
			</div>
			<div class="section-logReg__module__form-control">
				<input v-model="registerData.pw" type="password" placeholder="密码">
			</div>
			<div class="section-logReg__module__form-control">
				<input v-model="registerData.cpw" type="password" placeholder="再次输入密码">
				<span v-show="registerData.cpw && registerData.cpw !== registerData.pw" class="error-info">两次输入密码不一致</span>
			</div>
			<div class="section-logReg__module__link clearfix">
				<a v-on:click="changeModule(true)" class="pull-right common-text__green" href="#">去登录</a>
			</div>
			<div class="section-logReg__module__form-control">
				<a @click="register()" class="section-logReg__module__submit-btn" :class="{ disable: disableRe }" href="#">注册</a>
			</div>
		</div>
	</section>
</script>
%}}
