.resume-eidt-section{
	position:relative;
	width: 1200px;
	margin: 30px auto;
}
.resume-eidt-section__topbar{
	height: 60px;
	line-height: 60px;
	padding: 0 20px;
	background: #fff;
}
.resume-eidt-section__topbar__left{
	float: left;
}
.resume-eidt-section__topbar__left__item{
	display: inline-block;
	padding-right:40px;
}
.resume-eidt-section__topbar__middle{
	float: left;
}
.resume-eidt-section__topbar__middle__btn{
	margin-left: 10px;
	padding:8px 15px;
	border: 1px solid #eee;
}
.resume-eidt-section__topbar__right{
	float: right;
}
.resume-eidt-section__topbar__color-box{
	display: inline-block;
	box-sizing: border-box;
	width:20px;
	height:20px;
	margin-left: 4px;
	vertical-align: text-top;
	border-radius: 3px;
	cursor: pointer;
}
.resume-eidt-section__topbar__color-box.active{
	border: 2px solid #000;
}
.resume-eidt-section__topbar__color-box__blue{
	background: #4A86B9;
}
.resume-eidt-section__topbar__color-box__green{
	background: #45BBAE;
}
.resume-eidt-section__topbar__color-box__brown{
	background: #A79D91;
	margin-right: 20px;
}
.resume-eidt-section__body{
	margin-top: 10px;
}
.resume-eidt-section__body__basic{
	position: relative;
}
.resume-eidt-section__body__modules{
	padding:40px;
	background: #fff;
	margin-bottom: 2px;
}
.resume-eidt-section__body__modules__item{
	display: inline-block;
	vertical-align: top;
}
.resume-eidt-section__body__basic__name,
.resume-eidt-section__body__basic__contact{
	display: inline-block;
	vertical-align: top;
}
.resume-eidt-section__body__modules__title{
	width: 290px;
	line-height: 70px;
	font-size: 36px;

}
.resume-eidt-section__body__basic__photo{
	position: absolute;
	right: 40px;
	top:20px;
	width:110px;
	height: 120px;
	text-align: center;
}
.resume-eidt-section__body__basic__photo__wrap,
.resume-eidt-section__body__basic__photo__layer{
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
	background: #fff;
}
.resume-eidt-section__body__basic__photo__layer{
	background: #e8e8e8;
	z-index: 10;
}
.resume-eidt-section__body__basic__file-btn{
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 24px;
	line-height: 24px;
	border-radius: 6px;
	background: #45BBAE;
	color: #fff;
	cursor: pointer;
}
.resume-eidt-section__body__basic__file-btn input{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	font-size: 0;
	cursor: pointer;
}
.resume-eidt-section__body__modules__title input{
	font-size: 36px;
	font-weight: bold;
}
.resume-eidt-section__body__basic__name__layout{
	display: inline-block;
	text-align: center;
	width: 290px;
	height: 70px;
	line-height: 70px;
}
.resume-eidt-section__body__basic__name__layout input{
	font-size: 48px;
	font-weight: bold;
}
.resume-eidt-section__body__basic__contact span{
	display:block;
	width: 300px;
	height:26px;

}
.resume-eidt-section__body__modules__content__first-row{
	padding-bottom: 10px;
}
.resume-eidt-section__body__modules__content__first-row__layout{
	width:200px;
	height:26px;
	padding-right: 20px;
	display:inline-block;
}

.resume-eidt-section__footer{
	height:40px;
}
.expandingArea{
    position:relative;
}
.edit-textarea{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    overflow: hidden;
}
.div-pre{
    display:block;
    visibility:hidden;
    margin:0;
    line-height: 26px;
}
.div-pre span{
	display:block;
}