<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">
<title>{{#if (pageTitle)}}{{ pageTitle }}{{/if}}</title>
{{{ importCSS('/style/basic/basic.css') }}}
{{{ block ('beforeStyle') }}}
{{{ block('style') }}}
{{{ importJS('/js/bowljs/1.1.x/bowl.js') }}}
{{{ importJS('/config/bowl-config.js') }}}
{{ block('beforeHeadEnd') }}
</head>

<body>

{{ block('body') }}
{{{ block('beforebodyEnd') }}}
</body>
</html>
	
