{{extend ('./basic')}}

{{#block ('beforeStyle') }}
	{{{ importCSS('/style/basic/normal.css') }}}
{{/block}}

{{#block ('body')}}
<script>require('/page/common/')</script>
<div id="app">
	<v-header v-once></v-header>
	<div class="main">
		{{{ block ('main')}}}
	</div>
	<v-footer v-once></v-footer>
	<v-tips></v-tips>
	
</div>
{{ include('../_partials/header.html') }}
{{ include('../_partials/footer.html') }}
{{ include('../_partials/login.html') }}
{{ include('../_partials/tips.html') }}


{{/block}}