body{
	background: #00c091;
}
.main{
	padding-top: 70px;
	position: relative;
}
.common-bg__blue{
	background: #4A86B9 !important;
}
.common-bg__green{
	background: #45BBAE !important;
}
.common-bg__brown{
	background: #A79D91 !important;
}
.common-text__blue{
	color: #4A86B9 !important;
}
.common-text__green{
	color: #45BBAE !important;
}
.common-text__brown{
	color: #A79D91 !important;
}
.error-info{
	color: #e96900;
}
/* 头部导航 */
.header-section{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background:#fff;
	box-shadow: 0px 6px 6px rgba(0,0,0,.2);
	z-index: 100;
	line-height: 70px;
	font-size: 16px;
}
.header-section__left,
.header-section__right{
	position: absolute;
	top: 0;
	width: 300px;
	text-align: center;
}
.header-section__left{
	left: 0;
}
.header-section__nav{
	margin: 0 300px;
}
.header-section__nav .nav-item{
	float: left;
	padding: 0 20px;
}
.header-section__nav .nav-link{
	display: block;
}
.header-section__nav .nav-link.active{
	color:#00c091;
}
.header-section__right{
	right: 0;
}

/* 底部导航 */
.footer-section{
	width: 100%;
	height: 50px;
	background: rgba(0,0,0,0.7);
	z-index: 100;
	line-height: 50px;
	font-size: 12px;
}
.footer-section .footer{
	padding-left: 200px;
	padding-right: 200px;
}
.footer-section .footer-item{
	float: left;
	padding:0 20px;
}
.footer-section .footer-link{
	color: #fff;
}
/* 登录模块 */
.section-logReg{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #f5f5f5;
	padding: 40px 20px;
}
.section-logReg__module{

}

.section-logReg__module__title{
	position: relative;
	height: 50px;
	line-height: 50px;
	z-index: 3;
	text-align: center;
	color: #838383;
	font-size: 16px;
}
.section-logReg__module__title:after{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	content: '';
	width: 50px;
	height: 50px;
	border: #e4e4e4 1px solid;
	border-radius: 50%;
	z-index: 1;
}
.section-logReg__module__form-control{
	width: 365px;
	height: 40px;
	margin-top: 20px;
}
.section-logReg__module__form-control input{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	line-height: 40px;
	padding: 0 10px;
	border: 1px solid #d7d8da;
	border-radius: 4px;
}
.section-logReg__module__link{
	margin-top: 10px;
}
.section-logReg__module__submit-btn{
	display: block;
	height: 40px;
	line-height: 40px;
	background: #45BBAE;
	color: #fff;
	text-align: center;
}
.section-logReg__module__submit-btn:hover{
	color: #fff;
}
/* 编辑公共样式 */
.edit-input,
.edit-textarea{
	width: 100%;
	height: 100%;
	line-height: 26px;
	font-size: 16px;
	box-sizing:border-box;
	border:none;
	background:transparent;
	color: inherit;
}
.edit-textarea{
	min-width: 600px;
	min-height:56px;
}
.edit-input:focus,
.edit-textarea:focus{
	border: 1px solid #60d5ba;
	
}
.disable{
	background: #eee !important;
}

/*  提示框 */
.section-tips{
	display: none;
	opacity: 0;
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 100px;
    line-height: 100px;
    background-color: rgba(0,0,0,0.8);
    z-index: 110;
    text-align: center;
    border-radius: 6px;
    color: #fff;
    transition: 0.6s;
}
.section-tips.show{
	opacity: 1;
	display: block;
}