{{%
<script type="x-template" id="tpl-body">
	<div class="resume-eidt-section__body" :class=" ['common-bg__'+currentBasicBg]">
			<div class="resume-eidt-section__body__modules resume-eidt-section__body__basic" :class=" ['common-bg__'+currentBasicBg]">
				<div class="resume-eidt-section__body__basic__modules__item resume-eidt-section__body__basic__name">
					<span class="resume-eidt-section__body__basic__name__layout"><input type="text" class="edit-input" v-model="basicName"></span>
				</div>
				<div class="resume-eidt-section__body__basic__modules__item resume-eidt-section__body__basic__contact">
					<span v-for="(index, itemName) in contactList" :class="['resume-eidt-section__body__basic__'+ itemName+'__layout']"><input type="text" class="edit-input" v-model="contactList[itemName]"></span>
				</div>
			</div>
			<div v-for="(item, itemName) in moduleList" class="resume-eidt-section__body__modules resume-eidt-section__body__modules__education">
				<div class="resume-eidt-section__body__modules__item resume-eidt-section__body__modules__title">
					<span class="resume-eidt-section__body__modules__education__title__layout" >
						<input type="text" v-model="item.title"  class="edit-input" :class=" ['common-text__'+currentBasicBg]">
					</span>
				</div>
				<div class="resume-eidt-section__body__modules__item resume-eidt-section__body__modules__content">
					<div class="resume-eidt-section__body__modules__content__first-row">
						<span class="resume-eidt-section__body__modules__content__first-row__layout" v-if="item.arr.time" >
							<input type="text" v-model="item.arr.time"  class="edit-input" >
						</span>
						<span class="resume-eidt-section__body__modules__content__first-row__layout" v-if="item.arr.name">
							<input type="text" v-model="item.arr.name" class="edit-input">
						</span>
						<span class="resume-eidt-section__body__modules__content__first-row__layout" v-if="item.arr.name">
							<input type="text" v-model="item.arr.others"  class="edit-input">
						</span>
					</div>
					<div class="resume-eidt-section__body__modules__content__second-row">
						<div class="expandingArea resume-eidt-section__body__modules__content__second-row__layout">
							<pre class="div-pre">{{item.arr.des}}<br></pre>
						    <textarea class="edit-textarea" placeholder="输入文字" v-model="item.arr.des"></textarea>
						</div>
					</div>
				</div>
			</div>
			<button @click="save()">save</button>
			<a href="./download" target="_blank">download</a>
	</div>
</script>
%}}